{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-2 d-flex justify-content-center mt-5">
        <h1>LOGO</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-1">
        <div class="col-md-2 d-flex justify-content-center mt-5">
            <a href="/day/select" class="btn btn-outline-danger btn-lg btn-block">Nowy dzień</a>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-1">
        <div class="col-md-2 d-flex justify-content-center mt-5">
            <a href="/day/open" class="btn btn-outline-primary btn-lg btn-block" >Otwarte dni</a>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-1">
        <div class="col-md-2 d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Statystyki</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-1">
        <div class="col-md-2 d-flex justify-content-center mt-5">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block">Limity</button>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-1">
        <div class="col-md-2 d-flex justify-content-center mt-5">
            <a href="/order"class="btn btn-outline-primary btn-lg btn-block" >Zamówienia</a>
        </div>
    </div>
     <div class="row">
</div>


{% endblock %}
